* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-image: url(/static/backneon1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
  margin: 0;
  backdrop-filter: blur(20px);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#container {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

#game {
  width: 100vw;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid rgb(58, 58, 60);
}

.title {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem 0;
  text-align: center;

}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.square {
  border: 2px solid rgb(129, 129, 129);
  min-width: 60px;
  min-height: 60px;
  font-size: 50px;
  font-weight: bold;
  color: gainsboro;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
}

#keyboard-container {
  height: 200px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.keyboard-row button {
  background-color: transparent;
  color: #fff;
  border: 0;
  padding: 0;
  height: 58px;
  cursor: pointer;
  color: rgb(215, 218, 220);
  flex-grow: 1;
  text-transform: uppercase;
  margin-right: 6px;
  border-radius: 4px;
  user-select: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  font-size: 20px;
}


.keyboard-row button:hover {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 30px rgb(255, 255, 255);
  color: #000;
  
}

.keyboard-row button.hovered {
  background-color: rgba(255, 255, 255, 0.3);
}

.keyboard-row button.wide-button {
  flex-grow: 1.5;
}

.spacer-half {
  flex-grow: 0.5;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 500px; 
  border-radius: 10px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#resultMessage {
  font-size: 18px;
  margin: 10px 0;
  color: #555;
}

#newGameButton {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#newGameButton:hover {
  background-color: black;
  color: white;
}

#popup button {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#popup button:hover {
  background-color: black;
  color: white;
}

.timer {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.restart-button button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  background-image: url(/static/image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  font-size: 24px;
  padding: 0;
  transition: transform 0.3s ease;
}

.restart-button button:hover {
  transform: scale(1.1);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#resultMessage {
  font-size: 18px;
  margin: 10px 0;
  color: #555;
}

#newGameButton {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#newGameButton:hover {
  background-color: black;
  color: white;
}


@media (max-width: 600px) {
  .title {
    display: none;
  }
}