* {
  touch-action: manipulation;
}

body
{
	overflow: hidden;
	background-image: url(/static/backneon1.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	user-select: none;
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.leaderboard {
  margin-top: 20px;
}

.leader-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

.leader-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.leader-number {
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
}

.leader-name {
  flex-grow: 1;
}

.action-buttons {
	display: flex;
	justify-content: center;
	margin-top: 20px;
  }
  
.emoji-button {
  width: 60px;
  height: 60px;
  font-size: 32px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  border-radius: 12px;
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
}

.emoji-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.emoji-button:active {
    transform: scale(0.95);
}

  

#gameBoard {
  width: 320px;
  height: 640px;
  margin: 0 auto;
  border: 2px solid #6e6e7b;
  transform-origin: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
  
#score {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 24pt;
	font-family: sans-serif, verdana;
	color: #fefefe;
	width: 160px;
	margin: 0 auto;
}

#directions p
{
	font-size: 14pt;
	font-family: sans-serif, verdana;
	color: #fefefe;
	width: 320px;
	margin: 0 auto;
}


.restart-button button {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	border: none;
	cursor: pointer;
	background-image: url(/static/image.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	font-size: 24px;
	padding: 0;
	transition: transform 0.3s ease;
  }
  
  .restart-button button:hover {
	transform: scale(1.1);
  }
#pause-button {
	right: 20px;
	width: 30px;
	height: 30px;
	border: none;
	cursor: pointer;
	background-image: url(/static/stop.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	font-size: 24px;
	padding: 0;
	transition: transform 0.3s ease;
  }
  
#pause-button:hover {
	transform: scale(1.1);
  }

  .difficulty {
	color: #fff;
	font-size: 20px;
	text-align: center;
  }




.cell {
    width: 100px;
    height: 100px;
    background-color: transparent;
    color: #fff;
    text-align: center;
    line-height: 100px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
  }

.cell.taken {
    pointer-events: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 500px; 
  border-radius: 10px;
  text-align: center;
}
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  #resultMessage {
    font-size: 18px;
    margin: 10px 0;
    color: #555;
  }
  
  #newGameButton {
    background-color: transparent;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #newGameButton:hover {
    background-color: black;
    color: white;
  }
  
  #popup {
    display: none; 
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  #popup.modal-content {
    background-color: #fff;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px; 
    border-radius: 10px;
    text-align: center;
  }
  
  #popup button {
    background-color: transparent;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #popup button:hover {
    background-color: black;
    color: white;
  }
  
  
  
  .you-label {
    font-weight: bold;
  }

  .timer {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }

  #scale {
    scale: 0.8;
  }
  

@media (max-width: 800px) {

  .restart-button button {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 500px) {
  #score {
    font-size: 12pt;
  }



  .restart-button button {
    width: 30px;
    height: 30px;
  }
}